
@media screen and  (max-width:778px){
    
.navbar{
  width: 100%;
}
section{
 /* display: blo; */
 place-content: center;
}
article{
 background-color: aqua;

  max-width:100%;
  max-height: 100%;
  gap:1px;

 
  
  
}
.flipper{
  max-width: 300px;
max-height: 300px;
display: block;

}
.front img , .back img{
  max-width:200px ;
  
  max-height: 300px;
 
}
.front, .back{


}
.salgados{
  grid-area: salgados;
}
.roupas{
  grid-area: roupas;
}
.acessorios{
  grid-area: acessorios;
  /* max-width: 300px;
  max-height: 300px; */
}

.bebidas{
  grid-area: bebidas;
/* max-width: 300px;
max-height: 300px; */
}
.ofertas{

  grid-area: ofertas;
/* max-width: 300px;
max-height: 300px; */
}
}