
@media screen and  (max-width:778px){
    
.navbar{
  width: 100%;
}
section{
 /* display: blo; */
 place-content: center;
}
article{
  display: grid;
 grid-template-areas: "bebidas acessorios"
 "ofertas ofertas"
 "roupas salgados"
 " rodape rodape";

gap: 2px;

 

 
  
  
}
.flipper{
  max-width: 300px;
max-height: 300px;
position: relative;
transition: transform 0.8s;
transform-style: preserve-3d;


}
.front img , .back img{
  max-width:100%;
  
  max-height: 300px;
 
}
.front, .back{
  backface-visibility: hidden;

}
.back{
  transform: rotateY(180deg);
}

.front{
  position: relative;
}
.salgados{
  grid-area: salgados;
}
.roupas{
  grid-area: roupas;
}
.acessorios{
  grid-area: acessorios;
  /* max-width: 300px;
  max-height: 300px; */
}

.bebidas{
 grid-row: 1;
/* max-width: 300px;
max-height: 300px; */
}
.ofertas{

  grid-area: ofertas;
/* max-width: 300px;
max-height: 300px; */
}
}